.grid {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
}

.grid .row {
    display: flex;
    flex-direction: row;
    margin: 1px;
}

.grid .row .cell {
    background: white;
    min-width: 5px;
    min-height: 5px;
    height: 100%;
    width: 100%;
    margin: 1px;
    border-radius: 2px;
}

.highlight {
    background: green !important;
}